html {
  box-sizing: border-box;
  /* background-color: rgb(117,85,64); */
  background-color: black ;
}

body {
  margin: 0;
  font-family: News Gothic Condensed, Courier, Courier New, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    font-size: 15px;
    text-transform: uppercase;

}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

#video {
  position: fixed;
  left: 0;
  bottom: 0;
   /* min-width: 100%;
  min-height: 100%;  */
  width: auto;
  height: auto;
   /* z-index: -1;  */
   border-style: solid;
   border-left: 2px;
   border-bottom: none;
   
   border-color: aliceblue;
}




ul{
  color: aliceblue;
  position: absolute;
  left: 70%;
  top: 50%;
}

li a{
  color: white;
}
