html {
  box-sizing: border-box;
  /* background-color: black ; */
  background-image: url(/images/Screenshot\ 2024-04-24\ at\ 2.58.19\ PM.png);
  overflow:hidden;
}

body {
  margin: 0;
  font-family: News Gothic Condensed, Courier, Courier New, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    font-size: 15px;
    /* text-transform: uppercase; */

}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.a {
  grid-area: a;
  /* border-style: solid; */
  /* border-color: aqua; */
}

.b {
  grid-area: b;
  /* border-style: solid; */
  /* border-color: purple; */
  max-width: 100%; /* Allow the list to take up the available width */
  /* overflow: auto; Add overflow property to enable scrolling if needed */
}

.container {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 100vh; /* Change to 'auto' for dynamic height */
  grid-template-areas: "a b";

}

#video {
  width: 100%; /* Ensure the video takes up the full width of its container */
  height: 100%; /* Ensure the video takes up the full height of its container */
  /* border-color: aliceblue; */
  object-fit: cover; /*Maintain aspect ratio without distorting */
 
  
}

ul{
  position: relative;
  /* color: aliceblue; */
  left: 45%;
  top: 40%;
}

li{
  margin-top: 50px;
}

li a{
  color: white;
  text-decoration: none;
}

li a:hover{
  background-color: rgb(238,6,6);
}

footer{
  color: white;
  display: flex;
  justify-content: center;
  font-size: 10px;
}
