html {
  box-sizing: border-box;
  
  
}

body {
  margin: 0;
  background-color: white;
  font-family: News Gothic Condensed, Courier, Courier New, Lucida Sans Typewriter, Lucida Typewriter, monospace;

  
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

#headimg{
  position: relative;
  width: 50%;
  height: 100vh;
  background: url(/images/head.PNG);
  background-size: 160%;
  background-position:center;
  background-attachment: fixed;
  /* border-style: solid; */
}

main{
  padding: 100px;
  color: white;
  background-color: rgb(4, 4, 4);
}

h2{
  font-size: 2.5em;
  margin-bottom: 10px;
}

.about{
  position: absolute;
  width: 30%;
  left: 60%;
  top: 20%;
  /* background-color: black; */
  color: rgb(35, 35, 35); 
  font-size: 1.4vh;
  max-height: 70vh; /* Set a maximum height */
  overflow-y: auto; 

}

.ps{
  margin-top: 2%;
}

.image{
  margin-left: 38%;
  
  width: 25%;
}

.dotdiv{
  text-align:center;
}

h2{
  font-size: 3vh;
}

.address{
  position: absolute;
  left: 75%;
  top: 150%;
  color: rgb(238,6,6);
  font-size: 20px;


}

.address:hover{
  background-color: white;
}

ul{
  position: absolute;
  display: flex;
  flex-direction:row;
  left: 68%;
  top: 95%;

}

li{
  margin-left: 5%;
  list-style: none;
  
  
}

li a{
  text-decoration: none;
  color: black;


}

li a:hover{
  background-color: rgb(238,6,6);
  color: white;
}

