html {
  box-sizing: border-box;
  
  
}

body {
  margin: 0;
  background-color: white;
  
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

#headimg{
  position: relative;
  width: 50%;
  height: 100vh;
  background: url(/images/head.PNG);
  background-size: 160%;
  background-position:center;
  background-attachment: fixed;
  border-style: solid;
}

main{
  padding: 100px;
  color: white;
  background-color: black;
}

h2{
  font-size: 2.5em;
  margin-bottom: 10px;
}